@charset "utf-8";

@font-face {
	font-family: 'novecento';
	font-weight:bold;
	src: local('novecento'), local('novecento'), url('../fonts/novecentowide-bold-webfont.woff') format('woff');
	}
	
@font-face {
	font-family: 'novecento';
	font-weight:normal;
	src: local('novecento'), local('novecento'), url('../fonts/novecentowide-light-webfont.woff') format('woff');
	}

body{
	background:#ddd url('bg01.gif') repeat top left;
	margin:0px;
	}

#feedwrap{
	width:360px;
	background:#333;
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
	border:1px solid rgba(140, 140, 140, 0.5);
	border-top:0px;
	box-shadow:0px 3px 5px rgba(0, 0, 0, 0.5);
}

#feedframewrap{
	height:0px;
	overflow: hidden;
}

#feedtoggle{
	width:340px;
	height:18px;
	padding:2px;
	color:#fff;
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-size:16px;
	cursor:pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	behavior: url(ieUserSelectFix.htc);
}

#shadow{
	width:800px;
	height:3px;
	margin-top:-3px;
	box-shadow:0px 0px 10px #000;
	}

#secondwrap{
	width:800px;
	border-bottom:#666 solid 3px;
	}

#mainwrap{
	height:660px;
	text-align:left;
	width:800px;
	overflow:hidden;
	}
	
#gamebox{
	height:660px;
	background:#d7d7d7;
	width:800px;
	float:left;
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-size:12px;
	}
	
#gamebox a:link{color:#444; text-decoration:none; outline:none; padding-left:5px;}
#gamebox a:visited{color:#444; text-decoration:none; outline:none; padding-left:5px;}
#gamebox a:active{color:#444; text-decoration:none; outline:none; padding-left:5px;}
#gamebox a:hover{color:#666; text-decoration:none; outline:none; padding-left:5px;}
#gamebox a:focus{color:#444; text-decoration:none; outline:none; padding-left:5px;}
	
#tabbox{
	height:660px;
	width:800px;
	float:left;
	overflow:hidden;
	}

#slidetrigger{
	background:#b0b0b0;
	width:20px;
	height:620px;
	margin-top:40px;
	}
	
#gametitle{
	width:800px;
	height:37px;
	background-image:url('bg02.gif');
	font-size:33px;
	line-height:37px;
	}

.title{
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:bold;
	color:#fff;
	letter-spacing:-2px;
	padding-left:5px;
	}

.title i{
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#fff;
	}
	
.hline{
	background-image:url('topline.gif');
	width:800px;
	height:3px;
	}
	
#triggersmall{
	background-image:url('triggersmall.png');
	width:32px;
	height:32px;
	margin:3px;
	cursor:pointer;
	float:right;
	}

#gamewindow1{
	width:800px;
	height:600px;
	margin-bottom:4px;
	}

#tabnav{
	float:left;
	margin-bottom:-1px;
	z-index:2;
	}

#tabnav img{border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#tabnav .select{border-bottom:1px solid #fff;}

#t1{float:left; width:40px; height:40px; background-image:url('tab_1_home.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t2{float:left; width:40px; height:40px; background-image:url('tab_2_new.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t3{float:left; width:40px; height:40px; background-image:url('tab_3_irc.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t4{float:left; width:40px; height:40px; background-image:url('tab_4_forum.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t5{float:left; width:40px; height:40px; background-image:url('tab_5_classifieds.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t6{float:left; width:40px; height:40px; background-image:url('tab_6_stats.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
#t7{float:left; width:40px; height:40px; background-image:url('tab_7_rr.png'); border:0px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}

#tabwrap{
	margin-top:39px;
	border-top:1px solid #bbb;
	width:800px;
	height:620px;
	background:#fff;
	overflow:hidden;
	}

.tabcontent{
	width:800px;
	height:620px;
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-size:12px;
	}

.tabcontent a:link{color:#444; text-decoration:none; outline:none; padding-left:5px; line-height:22px;}
.tabcontent a:visited{color:#444; text-decoration:none; outline:none; padding-left:5px; line-height:22px;}
.tabcontent a:active{color:#444; text-decoration:none; outline:none; padding-left:5px; line-height:22px;}
.tabcontent a:hover{color:#666; text-decoration:none; outline:none; padding-left:5px; line-height:22px;}
.tabcontent a:focus{color:#444; text-decoration:none; outline:none; padding-left:5px; line-height:22px;}


#tab1content{
	width:760px;
	height:580px;
	padding:20px;
	overflow:auto;
	font-family: 'novecento' , Helvetica, Calibri, sans-serif;
	font-weight:normal;
	font-size:14px;
	color:#444;
	line-height:normal;
	}

#tab1content .title{
	color:#444;
	font-size:24px;
	font-weight:bold;
	}
	
.hcontline{
	width:760px;
	height:1px;
	background:#ccc;
	}